.servicesContainer {
  background: var(--altBrandColor);
  flex: 1;
}

.services {
  display: flex;
}

.servicesHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesHeader {
  display: inline-block;
  text-align: center;
  color: var(--brandColor);
  border-bottom: 1px solid var(--brandColor);
}

.serviceArticleHeader {
  color: var(--brandColor);
  margin: 0 0 10px 0;
}

.serviceArticleParagraph {
  color: var(--brandColor);
}

@media only screen and (max-width: 800px) {
  .services {
    display: block;
  }

  .servicesHeader {
    font-size: 1.5rem;
  }

  .serviceArticleHeader {
    font-size: 1.5rem;
  }
}
