.aboutContainer {
  flex: 1;
  background: var(--lightBrandColor);
}

.aboutHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  min-height: 50vh;
}

.aboutHeader {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  color: var(--altBrandColor);
  background: var(--brandColor);
  box-shadow: 2px 2px 2px var(--altBrandColor);
}

.aboutSubHeaderContainer {
  max-width: 500px;
  text-align: center;
  font-size: 1.5rem;
}

.aboutSubHeader {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  color: var(--altBrandColor);
  background: var(--brandColor);
  box-shadow: 2px 2px 2px var(--altBrandColor);
}

.clientsContainer {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.clientsWrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientHeader {
  display: inline-block;
  font-size: 3rem;
  color: var(--altBrandColor);
  border-bottom: 1px solid var(--altBrandColor);
  margin: 10px 0;
}

.publications {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.publicationsHeader {
  margin: 10px auto;
  color: var(--altBrandColor);
}

.publicationParagraph {
  color: var(--altBrandColor);
  flex: 1;
}

.publicationsParagraphContainer {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .clientHeader {
    font-size: 1.5rem;
  }
  .publicationsHeader {
    font-size: 1.5rem;
  }
}
