.landing {
  background: var(--lightBrandColor);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingHeader {
  margin: 0;
  color: var(--altBrandColor);
  font-size: 3.5rem;
}

.homeArticle {
  background: var(--lightBrandColor);
  display: flex;
  flex-wrap: wrap;
  min-height: 30vh;
}

.homeArticleHeader {
  color: var(--altBrandColor);
  margin: 0 0 0 10px;
}

.homeArticleParagraph {
  color: var(--altBrandColor);
}

.moreNewsContainer {
  background: var(--lightBrandColor);
}

@media only screen and (max-width: 900px) {
  .landingHeader {
    text-align: center;
  }
  .homeArticle {
    display: block;
  }
}
