.articleCardContainer {
  display: flex;
  flex-direction: column;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--altBrandColor);
  max-width: 90%;
  margin: 10px auto;
}

.articleCardHeader {
  margin: 10px auto;
  color: var(--altBrandColor);
}

.article {
  display: flex;
  padding: 10px;
}

.articleParagraph {
  flex: 1;
}

.paragraph {
  color: var(--altBrandColor);
  text-align: center;
  font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
  .articleCardHeader {
    font-size: 1.5rem;
  }
}
